li {
  display: inline;
  cursor: pointer;
}

.App {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 30px);
  height: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 400px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;

    .list {
      margin-bottom: 50px;

      .active {
        background: #ffffff;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .removeIco {
          margin-right: 20px;
        }
      }
    }

    .field {
      width: 200px;
      border-width: initial;
    }

    .add-list {
      padding-inline-start: 30px;
    }
  }

  &__mainWindow {
    flex: 1;
    padding: 60px;
    height: 100%;

    .cards {
      display: flex;

      .card {
        max-width: 22rem;
        margin-right: 100px;
        width: -webkit-fill-available;

        .card-body {
          position: relative;
        }

        .card-title {
          display: contents;
          position: absolute;
          bottom: 10px;
          left: 20px;
        }
      }
    }

    .windowTitle {
      margin-bottom: 50px;
    }
  }
}
